{% extends 'emp_dash/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container"> 

    <form method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-3">
                <img src="{{ request.user.employer.profile_picture.url }}" height="400px" width="400px"
                    class="img img-fluid rounded-circle">
                {{ form2.profile_picture.name  }}
                <input type="file" name="profile_picture" accept="image/*" id="id_profile_picture">
                <hr>
                <div class="form-group ">
                    {{ form2.contact_number|as_crispy_field  }}
                </div>

            </div>
            <div class="col-md-9">

                
            </div>
        </div>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mb-5">Update Infomation</button>
    </form>
    <div class="text-danger">
        {{form.errors}}
    </div>
</div>





<!-- select reigon sctipt, jquery -->
<!-- City -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_province").change(function () {
        var url = $("#personForm").attr("data-cities-url"); // get the url of the `load_cities` view
        var provinceId = $(this).val(); // get the selected country ID from the HTML input

        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
            data: {
                'province': provinceId // add the country id to the GET parameters
            },
            success: function (data) { // `data` is the return of the `load_cities` view function
                $("#id_city").html(
                    data
                ); // replace the contents of the city input with the data that came from the server
            }
        });

    });
</script>

<!-- Area -->
<script>
    $("#id_city").change(function () {
        var url = $("#personForm").attr("data-area-url");
        var cityId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'city': cityId
            },
            success: function (data) {
                $("#id_area").html(data);
            }
        });

    });
</script>

{% endblock %}